<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <div class="container">
        <form method="post" action="http://localhost:8080/home">
            <br><br><br><br>
            <img src="/assets/profile.png" alt="">
            <br>your_username_123
            <br><br><br>
            <input type="text" placeholder="image source here.." name="postImg"><br><br><br>
            <textarea placeholder="write a caption.." name="caption"></textarea><br>
            <button>Share</button>
        </form>
    </div>
</body>

</html>