.container{
    height: 500px;
    width: 50%;
    margin: auto;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
}
img{
    height: 3rem;
    width: 3rem;
}
input{
    width: 60%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
}
textarea{
    width: 60%;
    height: 10rem;
    font-size: 1.2rem;
    border-radius: 5px;
}
button{
    border: none;
    background-color: transparent;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: blue;
}